<div class="d-recipe">
  <div class="d-data">
    <p class="title">{{recipe.title}}</p>
    <p>{{arms}}</p>
    <p class="holes">{{recipe.numberHole}}</p>
    <p *ngFor="let item of listRunes" class="rune" [ngClass]="{'disabled': !item.status && showStatus, 'active': item.status && showStatus}">
      <img [src]="item.img" alt="img loading"> - {{item.name}}
      <!-- <span *ngIf="showStatus">{{item.status? 'En Inventario': 'No Encontrado'}}</span> -->
    </p>
  </div>
  <div class="d-features">
    <p *ngFor="let item of recipe.features">
      {{item}}
    </p>
  </div>
</div>
