.d-recipe{
  display: flex;
  flex-wrap: wrap ;
  padding: 20px 16px;
  flex-direction: row;
  align-items: center;
  gap: 10px 10px;
  border: 1px solid wheat;
}

.d-data{
  display: flex;
  flex-wrap: wrap ;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px 10px;
  width: 45%;
  p{
    margin: 0px;
    color: white;
  }
}
.d-runes{
  display: flex;
  flex-wrap: wrap ;
  padding: 0 16px;
  flex-direction: column;

  p{
    margin: 0px;
    color: white;
  }
}
.d-features{
  display: flex;
  flex-wrap: wrap ;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px 10px;
  width: 45%;
  p{
    margin: 0px;
    color: wheat;
  }
}
.disabled{
  opacity: 0.5;
}

.active{
  color: gold !important;
  font-weight: 600;
}

.title{
  color: #AA8A28 !important;
  font-weight: bold;
  text-decoration: underline;
}
.holes{
  color: #AA8A28 !important;
  font-style: italic;
  font-size: 12px;
}
.rune{
  width: 80px;
}
