/* You can add global styles to this file, and also import other style files */
.d-rune{
  background: black;
  color: white;
  padding: 5px;
  width: 80px;
}

.d-rune-select{
  color: gold;
  font-weight: bold;
}

.d-content{
  display: flex;
  flex-wrap: wrap ;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: row;
  align-items: center;
  gap: 10px 10px;
}
.d-card-container{
  display: flex;
  width: 100%;
  flex-direction: column;
}
html{
  background: black;
}
